*, body, .titre
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5a2;
}

.container
{
    width: 100vw;
    display: flex;
    justify-content: center;
}

form {
    width: 20em;
}

.login-content h2 {
    margin: 1.5em auto;
    color: black;
    text-align: center;
    font-size: 2rem;
}
.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 2em 0;
    padding: 0.1em 0;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.login-content .input-div.one {
    margin-top: 0;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 1em;
    transition: .3s;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}
.input-div.focus>.i>i {
    color: black;
}
.input-div>div>input { 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: black;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    transition: .3s;
}

.btn {
    display: block;
    width: 100%;
    border-radius: .25em;
    outline: none;
    border: none;
    font-size: 1.2rem;
    background-color: #ffffff;
    text-transform: uppercase;
    margin: 1rem 0;
    transition: .5s;
}

.btn:hover {
    transform: scale(0.9);
    transition: 200ms;
    background-color: #28a745;
    color: white;
}

